.theme-altf4 {
    --roamer-bg-image: url('/img/background/knight.jpg');
    --roamer-bg-color: #131311;
    --roamer-accent: #a9a59b;
    --roamer-card-bg: #ecf1e8;
    --roamer-card-text: #141714;
}
