#marco-edit .sequence-container {
    display: flex;
    justify-content: center;
}

#actions-edit {
    overflow-y: scroll;
    min-height: 200px;
    max-height: calc(100% - 100px);
}

#actions-edit > * + * {
    margin-top: 10px;
}

#marco-edit .caption {
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
}

#marco-edit textarea {
    width: 50vw;
    min-height: 56px;
    font-family: monospace;
    padding: 5px;
}

#marco-edit textarea + button {
    margin-left: 20px;
}