.theme-remnant {
    --roamer-bg-image: url('/img/background/remnant.jpg');
    --roamer-bg-color: #111315;
    --roamer-accent: #b9d7ff;
    --roamer-card-bg: #f8f9f6;
    --roamer-card-text: #141714;
}
