* {
    color: #FFF;
}

body {
    background-image: url('/img/background/remnant.jpg');
    background-size: cover;
}

.caption, button {
    color: #000;
}

button {
    border-radius: 10px;
    border-color: #888;
    border-width: 1px;
    border-style: solid;
    background-color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 20px 20px 50px;
}