.range-slider {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.range-slider .input-range {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 5px;
    background: #ccc;
    outline: none;
    writing-mode: horizontal-tb;
}

::-moz-range-track {
    background: #ccc;
    border: 0;
}

input::-moz-focus-inner {
    border: 0;
}

