* {
    color: white;
    font-family: Arial, serif;
}

body {
    text-align: center;
    background-color: #262521;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#page-selection * + *,
.sequences * + * {
    margin-top: 20px;
}

.sequences {
    display: block;
}

.slide {
    width: 100vw;
    height: 100vh;
}

.slide-container-vertical {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.slide-container-vertical-transition-normal {
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
}

.slide-container-vertical-transition-one {
    transform: translateY(-100%);
    transition: transform 0.5s ease-in;
}

.slide-container-horizontal {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.slide-container-horizontal > div {
    flex-shrink: 0;
}

.slide-container-horizontal-transition-normal {
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
}

.slide-container-horizontal-transition-one {
    transform: translateX(-100%);
    transition: transform 0.5s ease-in;
}

.active-sequence {
    font-size: 30px;
    font-weight: bold;
}

.latest-error {
    font-weight: bold;
    font-size: 26px;
    color: red;
}

h1 {
    margin-bottom: 50px;
    text-transform: uppercase;
}

button {
    -webkit-appearance: button;
    border-style: none;

    background-size: 32px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 10px;
}

button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    padding-right: 10px;
    padding-bottom: 10px;
}

#active-sequence.isActive {
    animation: blinker 2s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 35%;
    }
}

.buttonlist {
    display: flex;
    flex-direction: column;
}

.attributions {
    margin-top: 60px;
}

.top-tools {
    position: fixed;
    right: 20px;
    top: 10px;
    display: flex;
    z-index: 1;
}

.top-tools > * + * {
    margin-left: 20px;
}

.top-tools > * {
    line-height: 30px;
    margin-top: 20px;
    z-index: 2;
}

.offline, .online {
    font-size: 30px;
}

.audio-settings {
    font-size: 40px;
}

.audio-settings.on {
    text-shadow: 0 0 20px #ffde58;
}

.back-arrow {
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 50px;
}

#roamer-page {
    position: relative;
}