.theme-valheim {
    --roamer-bg-image: url('/img/background/wood.jpg');
    --roamer-bg-color: #171814;
    --roamer-accent: #ffd36a;
    --roamer-card-bg: #efe6d6;
    --roamer-card-text: #141714;
}
